root { 
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

#wrapper {
    padding-top: 40px;
    position: relative;
    width: 530px;
    height: 3000px;
	margin-right: auto;
	margin-top: 0;
	margin-left: auto;
        font-size: 30px;
        color: black;
        text-align: center;
        font-family: arial;
}








div.rele1_ligado {
    position: absolute;
    right: -110px;
    top: 220px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_ligada.png) no-repeat left top;
}

div.rele1_desligado {
    position: absolute;
    right: -110px;
    top: 220px;
    width: 300px;
    height: 206px;
    border: none;
	background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_desligada.png) no-repeat left top;
}

div.rele2_ligado {
    position: absolute;
    right: -110px;
    top: 387px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_ligada.png) no-repeat left top;
}

div.rele2_desligado {
    position: absolute;
    right: -110px;
    top: 387px;
    width: 300px;
    height: 206px;
    border: none;
	background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_desligada.png) no-repeat left top;
}

div.rele3_ligado {
    position: absolute;
    right: -110px;
    top: 554px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_ligada.png) no-repeat left top;
}

div.rele3_desligado {
    position: absolute;
    right: -110px;
    top: 554px;
    width: 300px;
    height: 206px;
    border: none;
	background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_desligada.png) no-repeat left top;
}


div.rele4_ligado {
    position: absolute;
    right: -110px;
    top: 721px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_ligada.png) no-repeat left top;
}

div.rele4_desligado {
    position: absolute;
    right: -110px;
    top: 721px;
    width: 300px;
    height: 206px;
    border: none;
	background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_desligada.png) no-repeat left top;
}

div.rele5_ligado {
    position: absolute;
    right: -110px;
    top: 888px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_ligada.png) no-repeat left top;
}

div.rele5_desligado {
    position: absolute;
    right: -110px;
    top: 888px;
    width: 300px;
    height: 206px;
    border: none;
	background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_desligada.png) no-repeat left top;
}

div.rele6_ligado {
    position: absolute;
    right: -110px;
    top: 1055px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_ligada.png) no-repeat left top;
}

div.rele6_desligado {
    position: absolute;
    right: -110px;
    top: 1055px;
    width: 300px;
    height: 206px;
    border: none;
	background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_desligada.png) no-repeat left top;
}

div.rele7_ligado {
    position: absolute;
    right: -110px;
    top: 1222px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_ligada.png) no-repeat left top;
}

div.rele7_desligado {
    position: absolute;
    right: -110px;
    top: 1222px;
    width: 300px;
    height: 206px;
    border: none;
	background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_desligada.png) no-repeat left top;
}

div.rele8_ligado {
    position: absolute;
    right: -110px;
    top: 1389px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_ligada.png) no-repeat left top;
}

div.rele8_desligado {
    position: absolute;
    right: -110px;
    top: 1389px;
    width: 300px;
    height: 206px;
    border: none;
	background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_desligada.png) no-repeat left top;
}

div.rele9_ligado {
    position: absolute;
    right: -110px;
    top: 1556px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_ligada.png) no-repeat left top;
}

div.rele9_desligado {
    position: absolute;
    right: -110px;
    top: 1556px;
    width: 300px;
    height: 206px;
    border: none;
	background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_desligada.png) no-repeat left top;
}

div.rele10_ligado {
    position: absolute;
    right: -110px;
    top: 1723px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_ligada.png) no-repeat left top;
}

div.rele10_desligado {
    position: absolute;
    right: -110px;
    top: 1723px;
    width: 300px;
    height: 206px;
    border: none;
	background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_desligada.png) no-repeat left top;
}

div.rele11_ligado {
    position: absolute;
    right: -110px;
    top: 1890px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_ligada.png) no-repeat left top;
}

div.rele11_desligado {
    position: absolute;
    right: -110px;
    top: 1890px;
    width: 300px;
    height: 206px;
    border: none;
	background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_desligada.png) no-repeat left top;
}

div.rele12_ligado {
    position: absolute;
    right: -110px;
    top: 2057px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/alarme_ligada.png) no-repeat left top;
}

div.rele12_desligado {
    position: absolute;
    right: -110px;
    top: 2057px;
    width: 300px;
    height: 206px;
    border: none;
	background: url(http://sites.google.com/site/antoniodorosariomaia136/alarme_desligada.png) no-repeat left top;
}

div.rele13_ligado {
    position: absolute;
    right: -110px;
    top: 2224px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/sirene_ligada.png) no-repeat left top;
}

div.rele13_desligado {
    position: absolute;
    right: -110px;
    top: 2224px;
    width: 300px;
    height: 206px;
    border: none;
	background: url(http://sites.google.com/site/antoniodorosariomaia136/sirene_desligada.png) no-repeat left top;
}

div.rele14_ligado {
    position: absolute;
    right: -110px;
    top: 2391px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_ligada.png) no-repeat left top;
}

div.rele14_desligado {
    position: absolute;
    right: -110px;
    top: 2391px;
    width: 300px;
    height: 206px;
    border: none;
	background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_desligada.png) no-repeat left top;
}

div.rele15_ligado {
    position: absolute;
    right: -110px;
    top: 53px;
    width: 300px;
    height: 206px;
    border: none;
}

div.rele15_desligado {
    position: absolute;
    right: -110px;
    top: 53px;
    width: 300px;
    height: 206px;
    border: none;
}


div.rele16_ligado {
    position: absolute;
    right: -110px;
    top: 2558px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_ligada.png) no-repeat left top;
}

div.rele16_desligado {
    position: absolute;
    right: -110px;
    top: 2558px;
    width: 300px;
    height: 206px;
    border: none;
    background: url(http://sites.google.com/site/antoniodorosariomaia136/lampada_desligada.png) no-repeat left top;
}











#div1 {
	position: absolute;
	right: 85px;
	top: 185px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px; 
    font-weight:bold;
}

#div2 {
	position: absolute;
	right: 85px;
	top: 352px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px;
    font-weight:bold; 
}

#div3 {
	position: absolute;
	right: 85px;
	top: 519px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px;
    font-weight:bold; 
}

#div4 {
	position: absolute;
	right: 85px;
	top: 686px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px; 
    font-weight:bold;
}

#div5 {
	position: absolute;
	right: 85px;
	top: 853px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px; 
    font-weight:bold;
}

#div6 {
	position: absolute;
	right: 85px;
	top: 1020px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px; 
    font-weight:bold;
}

#div7 {
	position: absolute;
	right: 85px;
	top: 1187px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px; 
    font-weight:bold;
}

#div8 {
	position: absolute;
	right: 85px;
	top: 1354px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px; 
    font-weight:bold;
}

#div9 {
	position: absolute;
	right: 85px;
	top: 1521px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px; 
    font-weight:bold;
}

#div10 {
	position: absolute;
	right: 85px;
	top: 1688px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px; 
    font-weight:bold;
}

#div11 {
	position: absolute;
	right: 85px;
	top: 1855px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px; 
    font-weight:bold;
}

#div12 {
	position: absolute;
	right: 85px;
	top: 2022px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px; 
    font-weight:bold;
}

#div13 {
	position: absolute;
	right: 85px;
	top: 2189px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px; 
    font-weight:bold;
}

#div14 {
	position: absolute;
	right: 85px;
	top: 2356px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px; 
    font-weight:bold;
}

#div15 {
	position: absolute;
	right: 85px;
	top: 18px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px; 
    font-weight:bold;
}

#div16 {
	position: absolute;
	right: 85px;
	top: 2523px;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 350px;
    height: 150px; 
    font-weight:bold;
}







#botao{
    position: absolute;
    right: 230px;
    top: 250px;
	 width: 200px;
    height: 256px;
}

.botao {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao:active {
	position:relative;
	top:1px;
}

#botao_2{
    position: absolute;
    right: 230px;
    top: 417px;
	 width: 200px;
    height: 256px;
}

.botao_2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao_2:active {
	position:relative;
	top:1px;
}

#botao_3{
    position: absolute;
    right: 230px;
    top: 584px;
	 width: 200px;
    height: 256px;
}

.botao_3 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao_3:active {
	position:relative;
	top:1px;
}

#botao_4{
    position: absolute;
    right: 230px;
    top: 751px;
	 width: 200px;
    height: 256px;
}

.botao_4 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao_4:active {
	position:relative;
	top:1px;
}

#botao_5{
    position: absolute;
    right: 230px;
    top: 918px;
	 width: 200px;
    height: 256px;
}

.botao_5 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao_5:active {
	position:relative;
	top:1px;
}

#botao_6{
    position: absolute;
    right: 230px;
    top: 1085px;
	 width: 200px;
    height: 256px;
}

.botao_6 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao_6:active {
	position:relative;
	top:1px;
}

#botao_7{
    position: absolute;
    right: 230px;
    top: 1252px;
	 width: 200px;
    height: 256px;
}

.botao_7 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao_7:active {
	position:relative;
	top:1px;
}

#botao_8{
    position: absolute;
    right: 230px;
    top: 1419px;
	 width: 200px;
    height: 256px;
}

.botao_8 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao_8:active {
	position:relative;
	top:1px;
}

#botao_9{
    position: absolute;
    right: 230px;
    top: 1586px;
	 width: 200px;
    height: 256px;
}

.botao_9 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao_9:active {
	position:relative;
	top:1px;
}

#botao_10{
    position: absolute;
    right: 230px;
    top: 1753px;
	 width: 200px;
    height: 256px;
}

.botao_10 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao_10:active {
	position:relative;
	top:1px;
}

#botao_11{
    position: absolute;
    right: 230px;
    top: 1920px;
	 width: 200px;
    height: 256px;
}

.botao_11 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao_11:active {
	position:relative;
	top:1px;
}

#botao_12{
    position: absolute;
    right: 230px;
    top: 2087px;
	 width: 200px;
    height: 256px;
}

.botao_12 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao_12:active {
	position:relative;
	top:1px;
}

#botao_13{
    position: absolute;
    right: 230px;
    top: 2254px;
	 width: 200px;
    height: 256px;
}

.botao_13 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao_13:active {
	position:relative;
	top:1px;
}

#botao_14{
    position: absolute;
    right: 230px;
    top: 2421px;
	 width: 200px;
    height: 256px;
}

.botao_14 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao_14:active {
	position:relative;
	top:1px;
}

#botao_15{
    position: absolute;
    right: 115px;
    top: 83px;
	 width: 300px;
    height: 256px;
}

.botao_15 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao_15:active {
	position:relative;
	top:1px;
}


#botao_16{
    position: absolute;
    right: 230px;
    top: 2588px;
	width: 200px;
    height: 256px;
}

.botao_16 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16ADFF), color-stop(1, #26A8FF) );
	background:-moz-linear-gradient( center top, #16ADFF 5%, #26A8FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16ADFF', endColorstr='#26A8FF');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
        width: 100px;
        text-align: center;
}

.botao_16:active {
	position:relative;
	top:1px;
}
